body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background:#1f2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}


.white {
    color: white;
}

.green {
    color: #55F991;
}

p {
    margin: 0px;
    padding: 0px;
}

.subtitle {
    margin-top: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

.button {
    background: #059669;
    padding: 12px 20px;
    color: white;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-top: 40px; 
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.button:hover {
    color :#D1FAE5;
    background: #047857;
    cursor: pointer;
}

.button:active {
    transform: translateY(2px);
    color: #D1FAE5;
    background: #047857;
    
}

.line {
    border: 1px solid #2F3E53;
    margin-bottom: 32px;
}

.password-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.password-box {
    text-align: center;
    padding: 2px 32px;
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    min-width: 200px;
    min-height: 34px;
    position: relative;
}

.password-box:hover {
    cursor: pointer;
}

.password-box .copy-message {
    visibility: hidden;
    width: 140px;
    background-color: #064E3B;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.password-box .copy-message::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #064E3B transparent transparent transparent;
}

.password-box:hover .copy-message {
    visibility: visible;
    opacity: 1;
}

.input {
    background: #273549;
    border: none;
    outline: none;
    padding: 8px;
    width: 160px;
}

.password-length-text {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #D5D4D8;
    margin: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.password-length-input {
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 18px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: #273549;
    color: white;
    margin-left: 28px;
    margin-right: 28px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.container {
    margin-top: -100px;
    position: relative;
}

.copied-to-clipboard-message {
    text-align: center;
    color: #55F991;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    opacity: 0;
    animation-name: clipboard-message;
    animation-duration: 2s;
}

@keyframes clipboard-message {
    from {opacity: 1;}
    to {opacity: 0;}
}
